<div class="row">

  <% @products.each do |product| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag(product.photo, class: "card-img-top") unless product.photo.nil? %>
        <div class="card-body">
          <h4 class="card-title">
            <%= product.name %>
          </h4>
          <h5><%= product.price %> AED</h5>
          <p class="card-text"><%= product.description %></p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
  <% end %>

</div>
